<div class="navbar navbar-expand-sm navbar-light navbar-lewagon"
style="background-image: url('<%= src="https://res.cloudinary.com/dwouepnpu/image/upload/v1685982500/20220912-tips-nonton-konser-pertama-kali-banner_imetf6.jpg" %>')"
>
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <img class="img" src="https://res.cloudinary.com/dwouepnpu/image/upload/v1685900797/band_4_rent/band_logo_kthaum.png" alt="">
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Messages", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if current_user.photo.key %>
            <%= cl_image_tag current_user.photo.key, class: "avatar-large", alt: "dropdown menu" %>
            <% else %>
            <%= cl_image_tag "https://res.cloudinary.com/dwouepnpu/image/upload/v1685980904/4378936_umm3gk.png", class: "avatar-large", alt: "dropdown menu" %>
            <% end %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My bands", my_bands_path, class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link text-white" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
