<div class="navbar navbar-expand-sm navbar-light navbar-lewagon position-relative"
style="background-image: url('<%= src="https://res.cloudinary.com/dwouepnpu/image/upload/v1686139555/banner_cml3zz.jpg" %>'); background-size: cover; "
>
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <img class="img" src="https://res.cloudinary.com/dwouepnpu/image/upload/v1685900797/band_4_rent/band_logo_kthaum.png" alt="">
    <% end %>

    <div class="container position-absolute bottom-0 end-0" style="width: 500px;">
        <div class="row justify-content-end">
          <div class="col-sm-8 my-3">
            <%= form_with url: bands_path, method: :get, class: "d-flex gap-1" do %>
              <%= text_field_tag :query,
                    params[:query],
                    class: "form-control bg-warning bg-opacity-50 border-0",
                    placeholder: "type something..."
                %>
              <%= submit_tag "Search", name: "", class: "btn btn-primary border-0" %>
            <% end %>
          </div>
        </div>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <div data-controller ="notification">
              <button class= "nav-link" id="messages"
              data-action="click->notification#notice"
              > Notifications
              </button>
              <span data-notification-target ="spinner"><%= render "shared/spinner" %></span>
              <span class="hide" data-notification-target ="list"><%= render "shared/notification" %></span>
            </div>
          </li>
          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if current_user.photo.key %>
            <%= cl_image_tag current_user.photo.key, class: "avatar-large", alt: "dropdown menu" %>
            <% else %>
            <img src="https://res.cloudinary.com/dulcgeiwe/image/upload/v1687711960/avatar-icon_nyvbwv.png", class= "avatar-large", alt= "dropdown menu">
            <% end %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My bands", my_bands_path, class: "dropdown-item" %>
              <%= link_to "My rents", my_checkouts_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link text-white" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
