<style>
  .card {
    min-height: 28rem;
  }

  .card-img-container {
    position: relative;
    overflow: hidden;
    height: 14rem;
  }

  .card-img-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: calc(100% - 1.5rem);
    width: auto;
    height: auto;
    object-fit: contain;
  }


</style>

<div class="container" style="width: 500px;">
  <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_with url: bands_path, method: :get, class: "d-flex gap-1" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control bg-warning bg-opacity-50 border-0",
              placeholder: "type something..."
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary border-0" %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row row-cols-2">
    <% @bands.each do |band| %>
    <div class="col">
      <div class="card" style="width: 30rem; height: 28rem;">
        <% if band.photos.attached? %>
          <div class="card-img-container">
            <%= cl_image_tag(band.photos[0].key, class: "card-img border-0 rounded-top-5") %>
          </div>
        <% else %>
          <div class="card-img-container">
            <img src="https://res.cloudinary.com/dwouepnpu/image/upload/v1685985732/band_4_rent/empty_ey7qq4.jpg" class="card-img border-0 rounded-top-5">
          </div>

        <% end %>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title text-center border-bottom border-1 border-warning-subtle">
            <i class="fas fa-star"></i> <%= band.name %>
          </h5>
          <p class="card-text text-center"><%= band.description.truncate(200, separator: ' ') %></p>
          <span class="position-absolute bottom-0 m-2">Rate Fee: $<%= band.rate_fee %></span>
          <div class="position-absolute bottom-0 mb-1" style="margin-left: 325px;">
            <%= link_to "View details", band_path(band), class:"btn btn-dark" %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
