<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="_my_bands.scss">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <style>
      .add-band-button {
        margin-right: auto;
        margin-bottom: 10px;
      }

      .card-container {
        margin-bottom: 30px;
      }

      .my-bands-heading {
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-style: italic;
        font-size: 2rem;
        color: black;
        margin: 0;
      }

      .view-details-button {
        background-color: darkgoldenrod;
        color: white;
        border: none;
        outline: none;
        padding: 6px 12px;
        transition: background-color 0.3s;
      }

      .view-details-button:hover {
        background-color: goldenrod;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
      }
    </style>
  </head>
  <body>
    <div class="container text-center">
      <div class="d-flex justify-content-between">
        <div class="add-band-button">
          <%= link_to "Add new band", new_band_path, class: "btn btn-dark", style: "border-radius: 10px; padding-top: 12px;" %>
        </div>
        <h1 class="my-bands-heading">my bands</h1>
      </div>
      <div class="row row-cols-3 justify-content-center card-container">
        <% @bands.each do |band| %>
          <div class="col">
            <div class="card" style="width: 18rem;">
              <% if band.photos.attached? %>
                <%= cl_image_tag(band.photos[0].key, class: "card-img-top") %>
              <% else %>
                <img src="https://res.cloudinary.com/dwouepnpu/image/upload/v1685985732/band_4_rent/empty_ey7qq4.jpg" class="card-img-top">
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= band.name %></h5>
                <p class="card-text"><%= band.description %></p>
                <p class="card-price"><%= band.rate_fee %>$</p>
                <%= link_to "View details", band_path(band), class: "btn btn-primary view-details-button" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
