<div class="container shadow p-3 mb-5 bg-body rounded p-5" style="width: 500px;">
<h1 class="text-center">Add new band</h1>

<%= simple_form_for @band do |f|%>

<%=f.input :name, placeholder:'AC/DC', input_html: { class: "" }%>
<%=f.input :genre, placeholder:'Heavy Metal', input_html: { class: "" }  %>
<%=f.input :members_count, placeholder: '3', input_html: { class: "" }  %>
<%=f.input :description, placeholder: 'Tell everybody about you', input_html: { class: "" } %>
<%=f.input :rate_fee, input_html: { class: "" }  %>
<div class="text-center"><%=f.submit class:'btn btn-dark'  %>  <%= link_to 'Go back', bands_path, class:'btn btn-dark' %></div>

<%end%>

</div>
