<div class="container">
<h1>Add new band</h1>
<%= simple_form_for @band do |f| %>
<%=f.input :name, placeholder:'AC/DC' %>
<%=f.input :genre, placeholder:'Heavy Metal'  %>
<%=f.input :members_count, placeholder: '3'  %>
<%=f.input :description, placeholder: 'Tell everybody about you' %>
<%=f.input :rate_fee  %>
<%=f.submit class:'btn btn-primary'  %> <%= link_to 'Go back', bands_path, class:'btn btn-primary' %>
<%end%>
</div>
