


<div class="container text" style="width: 600px;">
  <h1 class="text-center"><%= @band.name %></h1>
  <div class="container" style="width:600px">
  <% if @band.photos.attached? %>

    <div class="overflow-auto d-inline-flex" style="width:600px">
      <% @band.photos.each do |photo|  %>
          <%= cl_image_tag photo.key, height: 300, width: 600, crop: :fill, class: "card-img" %>
      <% end %>
    </div>
    <% else %>

      <img src="https://res.cloudinary.com/dwouepnpu/image/upload/v1685985732/band_4_rent/empty_ey7qq4.jpg" class="card-img">
    <% end %>

  <p class="mt-2"><strong>Genre:</strong> <%= @band.genre %></p>
  <p><strong>Members Count:</strong> <%= "ðŸ§" * @band.members_count %></p>
  <p><strong>Description:</strong> <%= @band.description %></p>
  <p><strong>Rate Fee:</strong> <%= @band.rate_fee %> $</p>

  <% if policy(@band).destroy? %>
  <%= link_to "Delete band", band_path(@band), class: "btn btn-danger text-white", data: { turbo_method: :delete, turbo_confirm: "Delete #{@band.name}?" } %>
  <% end %>
  <% if policy(@band).edit? %>
  <%= link_to "Edit Band", edit_band_path(@band), class:'btn btn-primary' %>
  <% end %>
  <div class="position-absolute bottom-0 end-0 m-3"><%= link_to "Back", bands_path, class:'btn btn-dark' %></div>
</div>
