<h1><%= @band.name %></h1>

<p><strong>Genre:</strong> <%= @band.genre %></p>
<p><strong>Members Count:</strong> <%= @band.members_count %></p>
<p><strong>Description:</strong> <%= @band.description %></p>
<p><strong>Description:</strong> <%= @band.rate_fee %></p>
