<h1><%= @band.name %></h1>

<p><strong>Genre:</strong> <%= @band.genre %></p>
<p><strong>Members Count:</strong> <%= @band.members_count %></p>
<p><strong>Description:</strong> <%= @band.description %></p>
<p><strong>Description:</strong> <%= @band.rate_fee %></p>
<%= form_with(model: @band, method: :delete, local: true) do |form|%>
  <%= form.submit 'Delete Band', data: { confirm: 'Are you sure?' }%>
<% end %>

<%+ link_to "Edit Band", edit_band_path(@band), class:'btn btn-primary' %>
<%+ link_to "All Bands", bands_path, class:'btn btn-primary' %>
